*{
margin:0;
padding: 0;

}
header { 

    text-decoration: none;
    color: #000000; 
    background: #ffffff;
    font-family: 'Quicksand-Light',Arial, Helvetica, sans-serif;    
    font-size: 14px;
    position: relative;
    text-align: center;    
    


    
}

header img {

    display: flex;
    width: 90px;
    height: auto; 
    flex-direction: row;   
    

}

header a {
text-decoration: none;
padding: 10px 65px;
color:black ;
display: flex;
flex-direction: row;






}

header ul {

    display: flex;
    flex-direction: row;
    list-style-type: none;
}

header a:hover {

    border-radius: 26%;
    opacity: 0.85;
    
}


.container{
    margin-block-start:70px;
    margin-left: 200px;
    
        
}



.search-bar {

    width: 700px;
    background: rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: BLUR(4px) saturate;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border:0;
    outline:none;
    padding: 24px;
    font-size: 20px;
}

.search-bar button img {
    
    width: 30px;
    margin-left: 12px;
}

.search-bar button {
    border: 0;
    border-radius:50%;    
    width: 60px;
    height: 60px;
    background:rgb(227, 67, 67);
}

.search-bar button:hover {

    background:rgb(222, 102, 102);
}
.icones {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 65%;
    margin-block-start: 170px;

    

}

.icones img {

    width: 60px;
    height:60px;
}


.image5 {

display: flex;
flex-direction: row;
padding-block-start: 100px;    

}

.image5 img {

width: 290px;
height: 250px;
border-radius: 17%;
margin-left: 45px;
}

footer {
    text-align: center;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    background-color: #ffffff;
    color: #000000;
    position: relative;
    width: 100%;
  }
